
body {
  background: #000;
  color: #fff;
  padding: 25px;
  font-family: verdana;
}

h1 {
  font-family: verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center
  
}
.link1 {
  color: aquamarine;
  font-size: 30px;
  text-align: center;
  text-decoration: underline;

}
